<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation=" http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd "
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans">	
	<context:annotation-config/>
	
	<bean id="deviceGroupDao" parent="daoTemplate" class="com.acs.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.acs.biz.device.entity.DeviceGroup"/>
	</bean>
	<bean id="deviceGroupService" class="com.acs.biz.device.service.impl.DeviceGroupServiceImpl">
		<property name="dao" ref="deviceGroupDao"/>
	</bean>
	
	<bean id="deviceDao" parent="daoTemplate" class="com.acs.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.acs.biz.device.entity.Device"/>
	</bean>
	<bean id="deviceService" class="com.acs.biz.device.service.impl.DeviceServiceImpl">
		<property name="dao" ref="deviceDao"/>
	</bean>
	
	<bean id="deviceSettingDao" parent="daoTemplate" class="com.acs.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.acs.biz.device.entity.DeviceSetting"/>
	</bean>
	<bean id="deviceSettingService" class="com.acs.biz.device.service.impl.DeviceSettingServiceImpl">
		<property name="dao" ref="deviceSettingDao"/>
	</bean>
	
	<bean id="deviceHandlerHelper" class="com.acs.biz.device.service.DeviceHandlerHelper" scope="singleton" />
	<bean id="deviceHandler" class="com.acs.biz.device.service.DeviceHandler" scope="singleton" />

</beans>