<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation=" http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd "
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans">	
	<context:annotation-config/>
	
	<bean id="logDeviceDao" parent="daoTemplate" class="com.acs.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.acs.biz.log.entity.LogDevice"/>
	</bean>
	<bean id="logDeviceService" class="com.acs.biz.log.service.impl.LogDeviceServiceImpl">
		<property name="dao" ref="logDeviceDao"/>
	</bean>
	
	<bean id="logDeviceHourlyDao" parent="daoTemplate" class="com.acs.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.acs.biz.log.entity.LogDeviceHourly"/>
	</bean>
	<bean id="logDeviceHourlyService" class="com.acs.biz.log.service.impl.LogDeviceHourlyServiceImpl">
		<property name="dao" ref="logDeviceHourlyDao"/>
	</bean>
	
	<bean id="logDeviceDailyDao" parent="daoTemplate" class="com.acs.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.acs.biz.log.entity.LogDeviceDaily"/>
	</bean>
	<bean id="logDeviceDailyService" class="com.acs.biz.log.service.impl.LogDeviceDailyServiceImpl">
		<property name="dao" ref="logDeviceDailyDao"/>
	</bean>
	
	

</beans>